/* border: black, solid */
/* background color:plum */
/* target the p element w and element selector */
/* box sizing is passed down via inheritance */
html{
    box-sizing: border-box;
}
p{
    background-color: plum;
    border: solid black 2px;
    width: 200px;
    padding: 20px 40px;
    /* padding: top and bottom */
    margin: 10px 0px;
    /* margin-top: 10px;
    margin-bottom: 10px; */
    /* margin: vertical horizontal */
}

h6{
    background-color: aqua;
    margin: 0;
    border: grey 2px dotted;
}